* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--WhiteGrayRainMedium);
  color: var(--DarkNegativeBold);
}

body,
input,
button,
textarea {
  font: 400 1rem 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--WhiteGrayRainMedium);
}

::-webkit-scrollbar-thumb {
  background-color: #d0bfff;
}
