#pageRoom {
  header {
    padding: 1.5rem;
    border-bottom: 0.0625rem solid var(--PurpleRainLight);

    .content {
      max-width: 75rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > h2 {
        font: 700 2.25rem 'Inter', sans-serif;
        color: var(--PurpleRainDark);
      }
    }
  }

  main {
    max-width: 55rem;
    margin: 0 auto;

    .roomTitle {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font: 500 1.5rem 'Inter', sans-serif;
        color: var(--PurpleRainMedium);
      }

      span {
        background: var(--ColorLink);
        border-radius: 624.9375rem;
        padding: 0.5rem 1rem;
        color: var(--WhiteGrayRainLight);
        font: 300 0.875rem 'Inter', sans-serif;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.125rem 1.5rem rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 9.375rem;
      }

      .formFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .userInfo {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span {
            margin-left: 0.5rem;
            color: var(--DarkNegativeDark);
            font: 500 0.875rem 'Inter', sans-serif;
          }
        }

        > span {
          color: var(--WhiteGrayRainDark);

          button {
            background: none;
            font: 500 0.875rem 'Inter', sans-serif;
            border: 0;
            color: var(--PurpleRainMedium);
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .questionList {
      margin-top: 32px;
    }
  }
}
