.question {
  background: #fefefe;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.04);
  padding: 1.75rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;

    footer .userInfo span {
      color: #333;
    }
  }

  &.answered {
    background: #d3f9d8;
  }

  .content {
    p {
      color: #29292e;
      text-align: justify;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .userInfo {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      span {
        margin-left: 0.5rem;
        color: var(--DarkNegativeDark);
        font-size: 0.875rem;
      }
    }

    > div {
      display: flex;
      gap: 0.5rem;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.3s;

      &.likeButton {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
