.roomCode {
  height: 2.5rem;
  border-radius: 0.5rem;
  overflow: hidden;

  background: var(--WhiteGrayRainLight);
  border: 0.0625rem solid var(--PurpleRainNormal);
  cursor: pointer;

  display: flex;

  > div {
    background: var(--PurpleRainNormal);
    height: 2.5rem;
    padding: 0 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: var(--WhiteGrayRainLight);
    }
  }

  span {
    display: flex;
    align-self: center;
    flex: 1;
    padding: 0 1rem 0 0.75rem;
    width: 15rem;
    font: 500 0.875rem 'Inter', sans-serif;
  }
}
